<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--              <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp2.png);"></div>-->
<!--                            <h4 class="home-product-item__name">[Mã ELAP1TR giảm 5% đơn 3TR] Apple AirPods Max </h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">13.990.000đ</span>-->
<!--                                <span class="home-product-item__price-current">11.490.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">20%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp3.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Apple iPhone 11 128GB</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">990đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp4.png);"></div>-->
<!--                            <h4 class="home-product-item__name">Apple 20W USB-C Power Adapter</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">4.000.000đ</span>-->
<!--                                <span class="home-product-item__price-current">3.490.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp5.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name"> Điện Thoại Samsung Galaxy Z Flip3 5G 256GB</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">26.900.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like home-product-item__action-liked">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp6.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Điện Thoại Samsung Galaxy Z Fold3 5G 256GB</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">41.900.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp7.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Pin Sạc Dự Phòng Xiaomi Redmi Power Bank 20000 mAh 18W - -->
<!--                                Chính hãng- BH 6 tháng</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">470.000đ</span>-->
<!--                                <span class="home-product-item__price-current">410.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">5%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp8.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Chuột Không Dây Xiaomi Mi Dual Mode Wireless Mouse-->
<!--                                Silent Edition - Hàng chính hãng- BH 12 tháng</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">390.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp9.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name"> Điện thoại Xiaomi 11T 8+128GB | PIN 5000mAh | Sạc Nhanh-->
<!--                                | Hàng Chính Hãng | BH 24T</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">10.990.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp10.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Đồng Hồ Thông Minh Xiaomi Mi Watch Lite</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">1.990.000đ</span>-->
<!--                                <span class="home-product-item__price-current">1.190.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">15%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp11.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">[Mã ELMALL150K giảm 5% đơn 500K] Loa Bluetooth JBL GO 2-->
<!--                                - Hàng Chính Hãng</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">570.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">5%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp12.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name"> [HÀNG CHÍNH HÃNG] Tai nghe Bluetooth JBL Live-->
<!--                                660NC</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">4.490.000đ</span>-->
<!--                                <span class="home-product-item__price-current">3.990.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like home-product-item__action-liked">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp13.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name">Loa Marshall STANMORE II Bluetooth Homeline - 1 năm bảo-->
<!--                                hành</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old"></span>-->
<!--                                <span class="home-product-item__price-current">9.990.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                                <i class="fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">1%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp14.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name"> Bàn phím cơ AKKO 3084 SP Ocean Star ( Cherry Switch) - -->
<!--                                Cổng USB</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">2.000.000đ</span>-->
<!--                                <span class="home-product-item__price-current">1.490.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like home-product-item__action-liked">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">15%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="grid__column-2-4">-->
<!--                        <a href="#" class="home-product-item">-->
<!--                            <div class="home-product-item__img"-->
<!--                                 style="background-image: url(/static/images/home_product/sp15.jpg);"></div>-->
<!--                            <h4 class="home-product-item__name"> Bàn phím cơ Keychron K4 led RGB Bluetooth</h4>-->
<!--                            <div class="home-product-item__price">-->
<!--                                <span class="home-product-item__price-old">2.000.000đ</span>-->
<!--                                <span class="home-product-item__price-current">1.490.000đ</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__action">-->
<!--                                            <span class="home-product-item__action-like ">-->
<!--                                                &lt;!&ndash; home-product-item__action-liked :them de like&ndash;&gt;-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-notlike"></i>-->
<!--                                                <i class="fi fi-rr-heart home-product-item__icon-liked"></i>-->
<!--                                            </span>-->
<!--                                <span class="home-product-item__action-rating">-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                                <i class="home-product-item__action-star-yellow fi fi-ss-star"></i>-->
<!--                                            </span>-->
<!--                            </div>-->

<!--                            <div class="home-product-item__origin">-->
<!--                                <span class="home-product-item__origin-name">TP.Hồ Chí Minh</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__favoutite">-->
<!--                                <i class="fas fa-check"></i>-->
<!--                                <span>Yêu thích</span>-->
<!--                            </div>-->
<!--                            <div class="home-product-item__label-sale-off">-->
<!--                                <div class="home-product-item__label-sale-off-value">10%</div>-->
<!--                                <span>GIẢM</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>      -->
</body>
</html>